language: php
matrix:
    fast_finish: true
    include:
      - '7.3'
      
services:
  - mysql


env:
  - SYMFONY_VERSION=5.0.*

before_script:
  - composer install

script:
  - php bin/console doctrine:database:create --env=test
  - php bin/console doctrine:schema:update --force --env=test
  - ./vendor/bin/behat
  - vendor/bin/phpunit
  - vendor/bin/phpunit --coverage-text
