language: php
php:
  - '7.3'
services:
  - mysql


env:
  - SYMFONY_VERSION=5.0.*
  - ENV=test

before_script:
  - composer install

script:
  - php bin/console doctrine:database:create --env=test
  - php bin/console doctrine:schema:update --force --env=test
  - ./vendor/bin/behat
  - php/bin/phpunit
  - php/bin/phpunit --coverage-text
