.my-data{
    h2{
        font-family: "Varela Round", sans-serif;
        font-size: 30px;
        font-weight: bold;
        text-decoration: underline;
    }

    p{
        color: #0844a4;
        font-size: 20px;
    }

    hr{
        border: gray 1px dashed;
    }
}