$green-personal: #72bb53;

.contact-form{
    h2{
        font-family: 'Varela Round', sans-serif;
        font-size: 24px;
        text-decoration: underline;
        font-weight: bold;
    }
    .btn-greenmousse{
        background-color: $green-personal;
        color: white;
    }
}