$greenmousse: #aaaaaa;

.coordinates-timetables{
    .card{
        border: none;
    }
    .card-header{
        border: 1px solid $greenmousse;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .card-body{
        border: 1px solid $greenmousse;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    h5{
        font-family: 'Varela Round', sans-serif;
        font-size: 24px;
        text-decoration: underline;
        font-weight: bold;
    }
    h6{
        font-family: 'Varela Round', sans-serif;
        text-decoration: underline;
        font-weight: bold;
    }
}