{%  extends 'baseTwo.html.twig' %}

{% block body %}
    <p>{{ applicationInformation.emailApplication }}</p>
    <p>{{ applicationInformation.facebookApplication }}</p>
    <p>{{ applicationInformation.phoneNumberApplication }}</p>
{% endblock %}