{%  extends 'baseTwo.html.twig' %}

{% block body %}
    <section class="container">
        <div class="text-center">
            <h1>une erreur c'est produite</h1>
        </div>
    </section>
{% endblock %}