{%  extends 'baseTwo.html.twig' %}

{% block body %}
<section class="container">
    <div class="text-center">
        <h1>Page non trouvé !!</h1>
        <p class="alert-info">Désolé mais votre page est introuvable.</p>
    </div>
</section>
{% endblock %}